
.connexion{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
.formcon {
    left: center;
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formcon h1{
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}
.noAccount{
    color: solid #ccc;
    width: 100%;
    margin: auto;
    padding-top: 80px;
}

/* Full-width inputs */
.mp,.log {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.valid {
    background-color: rgb(198, 240, 13);
    color: white;
    padding: 14px 20px;
    float: right;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
}
valid:hover {
    background-color: white;
    color: rgb(200, 235, 47);
    border: 1px solid rgb(175, 197, 76);
}
