<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.pizza.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>Commander</servlet-name>
    <servlet-class>com.pizza.servlets.Commander</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commander</servlet-name>
    <url-pattern>/Commander</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Sinscrire</servlet-name>
    <servlet-class>com.pizza.servlets.Sinscrire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sinscrire</servlet-name>
    <url-pattern>/Sinscrire</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Seconnecter</servlet-name>
    <servlet-class>com.pizza.servlets.Seconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seconnecter</servlet-name>
    <url-pattern>/Seconnecter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AjouterauPanier</servlet-name>
    <servlet-class>com.pizza.servlets.AjouterauPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterauPanier</servlet-name>
    <url-pattern>/AjouterauPanier</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ValiderLaCommande</servlet-name>
    <servlet-class>com.pizza.servlets.ValiderLaCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderLaCommande</servlet-name>
    <url-pattern>/ValiderLaCommande</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Sedeconnecter</servlet-name>
    <servlet-class>com.pizza.servlets.Sedeconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sedeconnecter</servlet-name>
    <url-pattern>/Sedeconnecter</url-pattern>
  </servlet-mapping>
</web-app>