section{
    width: 620px;
    height: 420px;
    background-color:rgb(66, 64, 64);
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 30px;
    color: white;
}