
#menu{
	position:absolute;
    margin-left:30%;
}
dl{
    text-decoration:none;
	height:10px;
	padding:0;
    margin-top:55px;
	display:block;
	float:left;
    background:red;
    color:white;
    border-radius:20px 20px 20px;
    height:40px;
    text-align:center;
	border-right:ridge 3px white;
	border-bottom:ridge 3px white;
	border-top:ridge 3px white;
    border-left:ridge 3px white;
    font-family:blackadder itc normal;
}
dt:hover{
    background:rgb(174,249,99);	
    border-color:white;
    color:black;
    border-radius:20px 20px 20px;
    text-align:center;
	border-right:ridge 3px white;
	border-bottom:ridge 3px white;
	border-top:ridge 3px white;
    border-left:ridge 3px white;

}
dt{
	font-family:blackadder itc normal;
	font-size:15px;
	width:140px;
	display:block;
	height:30px;
	color:white;
	line-height:30px;
	text-align:center;
	border-right:ridge 3px white;
	border-bottom:ridge 3px white;
	border-top:ridge 3px white;
    border-left:ridge 3px white;
	cursor:pointer;
    border-radius:17px 17px 17px;
    background:rgb(66, 64, 64);;
}
dd{
	margin:0;
	padding:0;
	display:block;
    border-radius:20px 20px 20px;
}
dd ul{
	margin:0; 
    padding:0;
	text-align:center;
	list-style:none;
    border-radius:20px 20px 20px;	
}
dd ul li{
	display:block;
	margin:0; padding:0;
	text-align:center;
}
dd ul li a{
	background:rgb(66, 64, 64);;
	color:white;
	display:block;
	text-decoration:none;
	height:35px;
    border-right: ridge 3px white;
	border-left:ridge 3px white;
	border-bottom: ridge 3px white;
    border-radius:20px 20px 20px;
    text-align:center;
}
dd ul li a:hover{
	background:red;
	color:white;
	text-align:center;
	border-color:white;
}
dl dd{
	display:none;
}
dl:hover dd{
	display:block;
}